/* Write your CSS here */
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  }
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.heading {
  font-family: 'Bree Serif';
  color: white;
  font-size: 50px;
}

.list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
